{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.kdz.asia","description":"Production Server"},{"url":"http://localhost:8080","description":"Local Development"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Job Description","description":"API for Job Description Management"},{"name":"Admin Management","description":"APIs phục vụ các tác vụ quản trị cho Admin (Quản lý JD mở, lượt apply & chi tiết application)"}],"paths":{"/api/users/change-password":{"put":{"tags":["user-controller"],"operationId":"changePassword","parameters":[{"name":"oldPass","in":"query","required":true,"schema":{"type":"string"}},{"name":"newPass","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/templates/{id}":{"get":{"tags":["interview-template-controller"],"operationId":"getTemplateById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DetailResponse"}}}}}},"put":{"tags":["interview-template-controller"],"operationId":"updateTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["interview-template-controller"],"operationId":"deleteTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/sessions":{"get":{"tags":["session-controller"],"operationId":"getSessions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionDetailResponse"}}}}}}},"put":{"tags":["session-controller"],"operationId":"updateSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Session"}}}}}}},"/api/rounds/jd/{jdId}":{"put":{"tags":["round-controller"],"summary":"Thiết lập các vòng phỏng vấn cho một Job Description","description":"Cho phép nhà tuyển dụng thiết lập các vòng phỏng vấn cho một JD cụ thể. ","operationId":"setUpRoundForJd","parameters":[{"name":"jdId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupJdRoundsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Round"}}}}}}}},"/api/rounds/jd/{jdId}/update":{"put":{"tags":["round-controller"],"summary":"Cập nhật các vòng phỏng vấn cho một Job Description","description":"Cho phép nhà tuyển dụng cập nhật các vòng phỏng vấn đã thiết lập cho một JD cụ thể. ","operationId":"updateRoundForJd","parameters":[{"name":"jdId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateJdRoundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Round"}}}}}}}},"/api/question-categories":{"get":{"tags":["question-category-controller"],"operationId":"getAllQuestionCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuestionCategory"}}}}}}},"put":{"tags":["question-category-controller"],"operationId":"updateQuestionCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionCategory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionCategory"}}}}}},"post":{"tags":["question-category-controller"],"operationId":"createQuestionCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionCategory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionCategory"}}}}}}},"/api/question-banks/{id}":{"get":{"tags":["question-bank-controller"],"operationId":"getQuestionBankById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionBank"}}}}}},"put":{"tags":["question-bank-controller"],"operationId":"updateQuestionBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateQuestionBankRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionBank"}}}}}},"delete":{"tags":["question-bank-controller"],"operationId":"deleteQuestionBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/posts/comments/{commentId}":{"put":{"tags":["post-controller"],"summary":"Cập nhật nội dung comment","operationId":"updateComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostComment"}}}}}},"delete":{"tags":["post-controller"],"summary":"Xóa comment","operationId":"deleteComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/mentors/{id}":{"get":{"tags":["mentor-controller"],"operationId":"getMentorById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorResponse"}}}}}},"put":{"tags":["mentor-controller"],"summary":"Cập nhật Mentor (không có password trong request body và response)","operationId":"updateMentor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UpdateMentorRequest"},"avatar":{"type":"string","format":"binary"}},"required":["data"]},"encoding":{"data":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorResponse"}}}}}}},"/api/mentors/{id}/change-password":{"put":{"tags":["mentor-controller"],"summary":"Thay đổi mật khẩu cho Mentor","operationId":"changePassword_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeMentorPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorResponse"}}}}}}},"/api/mentor-reviews":{"get":{"tags":["mentor-review-controller"],"operationId":"getAllMentorReviews","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MentorReview"}}}}}}},"put":{"tags":["mentor-review-controller"],"summary":"Json mẫu update ( update vs create khác json","description":"{\n  \"id\": 1,\n  \"rating\": 4,\n  \"situationNote\": \"string\",\n  \"taskNote\": \"string\",\n  \"actionNote\": \"string\",\n  \"resultNote\": \"string\",\n  \"strength\": \"string\",\n  \"weakness\": \"string\",\n  \"improve\": \"string\"\n}","operationId":"updateMentorReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMentorReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorReview"}}}}}},"post":{"tags":["mentor-review-controller"],"operationId":"createMentorReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMentorReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorReview"}}}}}}},"/api/mentor-feedbacks":{"get":{"tags":["mentor-feedback-controller"],"operationId":"getAllMentorFeedbacks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MentorFeedback"}}}}}}},"put":{"tags":["mentor-feedback-controller"],"operationId":"updateMentorFeedback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMentorFeedbackRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorFeedback"}}}}}},"post":{"tags":["mentor-feedback-controller"],"operationId":"createMentorFeedback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMentorFeedbackRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorFeedback"}}}}}}},"/api/kiosks/{id}":{"put":{"tags":["kiosk-controller"],"summary":"Cập nhật thông tin Kiosk","description":"Chỉnh sửa tên, vị trí hoặc trạng thái hoạt động của một Kiosk vật lý hiện có (chỉ dành cho Admin).","operationId":"updateKiosk","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Kiosk"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Kiosk"}}}}}}},"/api/kiosks/schedule/{id}":{"put":{"tags":["kiosk-controller"],"summary":"Cập nhật lịch hoạt động định kỳ của Kiosk","description":"Chỉnh sửa thông số lịch làm việc định kỳ (giờ mở, giờ đóng, độ dài slot) của Kiosk theo mã lịch (chỉ dành cho Admin).","operationId":"updateSchedule","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KioskSchedule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KioskSchedule"}}}}}}},"/api/job-descriptions":{"get":{"tags":["Job Description"],"summary":"Get all job descriptions","operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobDescription"}}}}}}},"put":{"tags":["Job Description"],"summary":"Update a job description","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateJobDescriptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobDescription"}}}}}},"post":{"tags":["Job Description"],"summary":"Create a new job description","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateJobDescriptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobDescription"}}}}}}},"/api/job-descriptions/toggle/{id}":{"get":{"tags":["Job Description"],"operationId":"toggleActiveGet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"put":{"tags":["Job Description"],"summary":"Toggle trạng thái active (OPEN <-> CLOSED) của JobDescription","operationId":"toggleActive","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/companies":{"get":{"tags":["company-controller"],"operationId":"getAllCompanies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["company-controller"],"operationId":"updateCompany","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UpdateCompanyRequest"},"logo":{"type":"string","format":"binary"},"banner":{"type":"string","format":"binary"}},"required":["data"]},"encoding":{"data":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Company"}}}}}},"post":{"tags":["company-controller"],"operationId":"addCompany","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreateCompanyRequest"},"logo":{"type":"string","format":"binary"},"banner":{"type":"string","format":"binary"}},"required":["data"]},"encoding":{"data":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Company"}}}}}}},"/api/companies/toggle/{id}":{"get":{"tags":["company-controller"],"operationId":"toggleActiveGet_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"put":{"tags":["company-controller"],"summary":"Toggle trạng thái active (ACTIVE <-> INACTIVE) của Company","operationId":"toggleActive_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/candidate-profiles":{"get":{"tags":["candidate-profile-controller"],"operationId":"getAllProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CandidateProfile"}}}}}}},"put":{"tags":["candidate-profile-controller"],"summary":"Cập nhật hồ sơ ứng viên","description":"Sau khi import cv thì trả về candidate profile rồi thì cho người dùng chỉnh sửa tay sau đó gọi hàm này để cập nhật","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}}}}},"post":{"tags":["candidate-profile-controller"],"operationId":"createProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}}}}}},"/api/application-details/{id}/select-mentor":{"put":{"tags":["application-detail-controller"],"summary":"Ứng viên chọn 1 mentor cho vòng phỏng vấn","description":"Dành cho Ứng viên chọn 1 mentor trong số các mentor được Admin đề xuất.","operationId":"selectMentor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mentorId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDetail"}}}}}}},"/api/application-details/{id}/assign-mentors":{"put":{"tags":["application-detail-controller"],"summary":"Gán danh sách nhiều mentor cho vòng Mentor Review","description":"Dành cho Admin để đề xuất danh sách nhiều mentor cho ứng viên tự chọn 1 người.","operationId":"assignMentors","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignMentorsRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDetail"}}}}}}},"/api/application-details/{id}/assign-mentor":{"put":{"tags":["application-detail-controller"],"summary":"Gán 1 mentor cho vòng Mentor Review","description":"Dành cho Admin để gán trực tiếp 1 mentor cho vòng thi của ứng viên.","operationId":"assignMentor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mentorId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDetail"}}}}}}},"/api/v1/proctoring/track":{"post":{"tags":["proctoring-controller"],"operationId":"trackBehavior","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceSnapshotRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/interview/submit":{"post":{"tags":["interview-process-controller"],"operationId":"submitAnswer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitAnswerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}}}},"/api/users":{"get":{"tags":["user-controller"],"operationId":"getUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"post":{"tags":["user-controller"],"summary":"dùng chung cho create và update user, nếu create thì ko có id còn update thì có id gửi kèm trong json data á","operationId":"createUser","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserInfo"},"avatar":{"type":"string","format":"binary"}},"required":["data"]},"encoding":{"data":{"contentType":"application/json"},"avatar":{"contentType":"application/octet-stream"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/users/upload-cv":{"post":{"tags":["user-controller"],"summary":"hàm này để upload cv và parse cv trả về thằng candidate profile","operationId":"uploadCv","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"userId":{"type":"string","example":1},"applicationId":{"type":"integer","format":"int64"},"cvFile":{"type":"string","format":"binary"}},"required":["userId"]},"encoding":{"userId":{"contentType":"application/json"},"applicationId":{"contentType":"application/json"},"cvFile":{"contentType":"application/octet-stream"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}}}}}},"/api/test/python-test":{"post":{"tags":["test-controller"],"operationId":"testPythonApi","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CVParserResponse"}}}}}}},"/api/test/food-test-hash":{"post":{"tags":["test-controller"],"operationId":"testFoodHash","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"cate","in":"query","required":true,"schema":{"type":"string"}},{"name":"country","in":"query","required":true,"schema":{"type":"string"}},{"name":"fieldToUpdate","in":"query","required":true,"schema":{"type":"string"}},{"name":"newValue","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/test/cv-evaluation-test":{"post":{"tags":["test-controller"],"summary":"Đánh giá CV dựa trên tiêu chí và mô tả công việc","operationId":"testCvEvaluation","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"cvFile":{"type":"string","format":"binary"},"evaluationCriteria":{"$ref":"#/components/schemas/EvaluationCriteria"},"jobDescription":{"$ref":"#/components/schemas/JD"}},"required":["cvFile","evaluationCriteria","jobDescription"]},"encoding":{"evaluationCriteria":{"contentType":"application/json"},"jobDescription":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CvEvaluationResponse"}}}}}}},"/api/templates":{"get":{"tags":["interview-template-controller"],"operationId":"getAllTemplates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SummaryResponse"}}}}}}},"post":{"tags":["interview-template-controller"],"operationId":"createTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/sessions/webhooks/dailyco":{"post":{"tags":["session-controller"],"operationId":"handleDailyCoWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"responses":{"200":{"description":"OK"}}}},"/api/sessions/join-session":{"post":{"tags":["session-controller"],"summary":"SessionName gửi về là roomName trong session","description":"Ghi nhận 1 user đã tham gia vào session","operationId":"saveJoinRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinSessionDtoRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/sessions/create-session":{"post":{"tags":["session-controller"],"summary":"{\n  \"dailyCoCreationRequest\": {\n    \"name\": \"\",\n    \"privacy\": \"public\",\n    \"properties\": {\n      \"max_participants\": 2,\n      \"start_video_off\": true,\n      \"start_audio_off\": true,\n      \"enable_screenshare\": true,\n      \"exp\": 120,\n      \"enable_recording\": \"cloud\"\n    }\n  },\n  \"userId\": 1,\n  \"mentorId\": 1\n}","description":"json mẫu tạo 1 session họp với mentor(privacy ,enable_recording ko cần cho chọn mà gửi ẩn là public,cloud về, name khỏi cần cho điền cứ gửi như json mẫu, còn lại thì cho người dùng chọn )","operationId":"createSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionCreationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionResponse"}}}}}}},"/api/sessions/create-for-round":{"post":{"tags":["session-controller"],"summary":"Tạo session và phòng họp cho một vòng Mentor Review (Online hoặc Offline)","description":"Ứng viên tự chọn thời gian và hình thức ONLINE/OFFLINE sau khi Admin đã gán mentor.","operationId":"createSessionForRound","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoundSessionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionDetailResponse"}}}}}}},"/api/rounds/generate-whiteboard-question":{"post":{"tags":["round-controller"],"operationId":"generateQuestion","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WhiteboardQuestionDto"}}}}}}},"/api/question-banks":{"get":{"tags":["question-bank-controller"],"operationId":"getQuestionBank","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuestionBank"}}}}}}},"post":{"tags":["question-bank-controller"],"operationId":"createQuestionBank","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQuestionBankRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionBank"}}}}}}},"/api/question-banks/generate":{"post":{"tags":["question-bank-controller"],"operationId":"generateQuestion_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionGenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionGenerateResponse"}}}}}}},"/api/posts":{"get":{"tags":["post-controller"],"summary":"Lấy tất cả bài viết","operationId":"getAllPosts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PostResponse"}}}}}}},"post":{"tags":["post-controller"],"summary":"Create post","operationId":"createPost","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PostCreateRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Post"}}}}}}},"/api/posts/likes":{"post":{"tags":["post-controller"],"summary":"Like bài viết","description":"User like một bài viết, truyền postId và userId","operationId":"likePost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostLikeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostLike"}}}}}}},"/api/posts/comments":{"post":{"tags":["post-controller"],"summary":"Tạo comment mới","description":"Tạo comment cho bài viết. Nếu là reply thì truyền parentCommentId, nếu là comment gốc thì parentCommentId = null","operationId":"createComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostComment"}}}}}}},"/api/payments/webhook":{"post":{"tags":["payment-controller"],"operationId":"handlePayOsWebhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/payments/pay":{"post":{"tags":["payment-controller"],"operationId":"createPayment","parameters":[{"name":"jdId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/notifications":{"post":{"tags":["notification-controller"],"summary":"json mẫu: {\n  \"id\": 0,\n  \"user\": {\n    \"id\":1\n  },\n  \"title\": \"string\",\n  \"message\": \"string\",\n  \"isRead\": true,\n  \"createAt\": \"2026-01-17T09:35:10.823Z\"\n}","operationId":"createNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Notification"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Notification"}}}}}}},"/api/mentors":{"get":{"tags":["mentor-controller"],"operationId":"getAllMentors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MentorResponse"}}}}}}},"post":{"tags":["mentor-controller"],"summary":"Tạo mới Mentor (có input password, trả về MentorResponse không có password)","operationId":"createMentor","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreateMentorRequest"},"avatar":{"type":"string","format":"binary"}},"required":["data"]},"encoding":{"data":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorResponse"}}}}}}},"/api/mails/send-generic":{"post":{"tags":["mail-controller"],"summary":"Gửi email chung (Generic)","description":"API gửi email dùng chung, nhận payload chứa địa chỉ nhận, tiêu đề và nội dung email. Lỗi được xử lý nội bộ và trả về HTTP status tương ứng.","operationId":"sendGenericEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/kiosks":{"get":{"tags":["kiosk-controller"],"summary":"Lấy danh sách các Kiosk ","description":"Trả về danh sách tất cả các trạm Kiosk vật lý có trạng thái hoạt động (isActive = true).","operationId":"getAllKiosk","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Kiosk"}}}}}}},"post":{"tags":["kiosk-controller"],"summary":"Tạo một Kiosk mới","description":"Tạo cấu hình cho một máy trạm Kiosk vật lý mới trong hệ thống (chỉ dành cho Admin).","operationId":"createKiosk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Kiosk"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Kiosk"}}}}}}},"/api/kiosks/schedule":{"post":{"tags":["kiosk-controller"],"summary":"Thiết lập lịch hoạt động định kỳ của Kiosk","description":"Tạo cấu hình lịch làm việc (giờ mở cửa, đóng cửa, độ dài slot) định kỳ theo thứ trong tuần của một Kiosk (chỉ dành cho Admin).","operationId":"createSchedule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KioskSchedule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KioskSchedule"}}}}}}},"/api/kiosk/enter":{"post":{"tags":["kiosk-booking-controller"],"summary":"Kiosk xác thực và vào phòng phỏng vấn","description":"Máy Kiosk vật lý gửi sessionKey và kioskId để xác thực. Hệ thống kiểm tra thời gian hợp lệ (±15 phút so với giờ hẹn) và gọi orchestrator để lấy AI Session.","operationId":"enterKiosk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KioskEnterDtoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KioskEnterDtoResponse"}}}}}}},"/api/kiosk-bookings/pick-slot":{"post":{"tags":["kiosk-booking-controller"],"summary":"Ứng viên đặt lịch phỏng vấn AI tại Kiosk","description":"Cho phép ứng viên chọn một trạm Kiosk và slot thời gian còn trống để đặt lịch phỏng vấn AI.","operationId":"pickSlot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickSlotDtoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KioskBooking"}}}}}}},"/api/interview-sessions/generate-job-requirement":{"post":{"tags":["interview-session-controller"],"operationId":"generateJobRequirement","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobRequirementData"}}}}}}},"/api/interview-sessions/create-session":{"post":{"tags":["interview-session-controller"],"operationId":"createInterviewSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewSetupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/interview-analysis/face-behavior":{"post":{"tags":["interview-analysis-controller"],"operationId":"analyzeFaceBehavior","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}},"required":["image"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceAnalysisResponse"}}}}}}},"/api/coding-problems":{"get":{"tags":["coding-problem-controller"],"operationId":"getAllCodingProblems","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodingProblem"}}}}}}},"post":{"tags":["coding-problem-controller"],"operationId":"createCodingProblem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodingProblem"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodingProblem"}}}}}}},"/api/coding-problems/generate":{"post":{"tags":["coding-problem-controller"],"operationId":"generateCodingProblem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodingProblemGenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodingProblemGenerateResponse"}}}}}}},"/api/code-review-problems":{"get":{"tags":["code-review-problem-controller"],"operationId":"getAllCodeReviewProblems","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeReviewProblem"}}}}}}},"post":{"tags":["code-review-problem-controller"],"operationId":"createCodeReviewProblem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeReviewProblem"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodeReviewProblem"}}}}}}},"/api/code-review-problems/generate":{"post":{"tags":["code-review-problem-controller"],"operationId":"generateCodeReviewProblem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeReviewProblemGenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodeReviewProblemGenerateResponse"}}}}}}},"/api/auth/reset-password":{"post":{"tags":["auth-controller"],"operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/auth/forgot-password":{"post":{"tags":["auth-controller"],"operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/applications":{"get":{"tags":["application-controller"],"operationId":"getAllApplications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Application"}}}}}}},"post":{"tags":["application-controller"],"operationId":"applyJd","parameters":[{"name":"jdId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Application"}}}}}}},"/api/application-details/submit":{"post":{"tags":["application-detail-controller"],"summary":"Nộp bài ứng tuyển theo từng vòng","description":"Hỗ trợ nộp text, danh sách đáp án trắc nghiệm hoặc upload file trực tiếp tùy theo loại vòng thi.","operationId":"submitApplicationDetail","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/SubmitRequest"}}}},"responses":{"200":{"description":"Nộp bài thành công","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubmissionResult"}}}},"400":{"description":"Dữ liệu đầu vào không hợp lệ","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubmissionResult"}}}}}}},"/api/application-details/hr-score":{"post":{"tags":["application-detail-controller"],"operationId":"hrScore","parameters":[{"name":"applicationDetailId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"isPass","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"note","in":"query","required":true,"schema":{"type":"string"}},{"name":"score","in":"query","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/application-details/code-review/evaluate":{"post":{"tags":["application-detail-controller"],"summary":"Chấm bài Code Review","description":"Xử lý chấm điểm trực tiếp bài review code của ứng viên thông qua AnythingLLM với workspace CODE_REVIEW.","operationId":"evaluateCodeReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodeReviewSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDetail"}}}}}}},"/api/v1/interview/start/{sessionKey}":{"get":{"tags":["interview-process-controller"],"operationId":"startInterview","parameters":[{"name":"sessionKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}}}},"/api/users/{id}":{"get":{"tags":["user-controller"],"operationId":"getUserById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/users/find-by-id/{userId}":{"get":{"tags":["user-controller"],"operationId":"getUserResponseById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/test/test":{"get":{"tags":["test-controller"],"operationId":"test","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/test/status":{"get":{"tags":["test-controller"],"operationId":"status","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/test/ping":{"get":{"tags":["test-controller"],"operationId":"ping","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/test/hello":{"get":{"tags":["test-controller"],"operationId":"hello","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/test/health":{"get":{"tags":["test-controller"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/test/error":{"get":{"tags":["test-controller"],"operationId":"triggerError","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/sessions/{userId}/by-user":{"get":{"tags":["session-controller"],"summary":"Lấy tất cả session của user","description":"Lấy tất cả session liên quan đến userId","operationId":"getSessionsByUserId","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionDetailResponse"}}}}}}}},"/api/sessions/{id}":{"get":{"tags":["session-controller"],"operationId":"getSession","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionDetailResponse"}}}}}}},"/api/sessions/update-status":{"get":{"tags":["session-controller"],"operationId":"updateSessionStatus","parameters":[{"name":"sessionId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"isApproved","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}}}},"/api/sessions/reactivate-webhook":{"get":{"tags":["session-controller"],"operationId":"reactivateWebhook","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/sessions/make-payment":{"get":{"tags":["session-controller"],"operationId":"makePayment","parameters":[{"name":"sessionId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/sessions/check-webhook":{"get":{"tags":["session-controller"],"operationId":"checkWebhook","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/rounds":{"get":{"tags":["round-controller"],"operationId":"getAllRoundTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["CV_SCREENING","EMAIL_SIMULATOR","QUIZ","CODING","CODE_REVIEW","MENTROR_REVIEW","AI_INTERVIEW"]}}}}}}}},"/api/rounds/find-by-application-order/{applicationId}":{"get":{"tags":["round-controller"],"operationId":"findByApplicationOrder","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Round"}}}}}}},"/api/question-categories/{id}":{"get":{"tags":["question-category-controller"],"operationId":"getQuestionCategoryById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionCategory"}}}}}},"delete":{"tags":["question-category-controller"],"summary":"Delete riu","operationId":"deleteQuestionCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/posts/{postId}":{"get":{"tags":["post-controller"],"summary":"Lấy chi tiết bài viết theo id","operationId":"getPostById","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostResponse"}}}}}}},"/api/posts/published":{"get":{"tags":["post-controller"],"summary":"Lấy tất cả bài viết đã publish","operationId":"getPublishedPosts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PostResponse"}}}}}}}},"/api/posts/likes/{postId}/check/{userId}":{"get":{"tags":["post-controller"],"summary":"Kiểm tra user đã like bài viết chưa","operationId":"checkLiked","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/posts/feed":{"get":{"tags":["post-controller"],"summary":"Lấy new feed","description":"Trả về danh sách bài viết mới nhất, có phân trang","operationId":"getNewFeed","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePostResponse"}}}}}}},"/api/posts/change-status/{postId}":{"get":{"tags":["post-controller"],"summary":"Thay đổi trạng thái bài viết","operationId":"changeStatus","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["DRAFT","PUBLISHED","ARCHIVED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/payments":{"get":{"tags":["payment-controller"],"operationId":"getPayments","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Payment"}}}}}}}},"/api/payments/{id}":{"get":{"tags":["payment-controller"],"operationId":"getPayment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Payment"}}}}}}},"/api/payments/cancel":{"get":{"tags":["payment-controller"],"operationId":"cancelPayment","parameters":[{"name":"transactionCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Payment"}}}}}}},"/api/notifications/{id}":{"get":{"tags":["notification-controller"],"operationId":"getAllNotifications","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}}}}}}}},"/api/notifications/check-read/{notificationId}":{"get":{"tags":["notification-controller"],"operationId":"checkRead","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/messages/{currentFullId}/{recipientFullId}":{"get":{"tags":["chat-message-controller"],"operationId":"getChatHistory","parameters":[{"name":"currentFullId","in":"path","required":true,"schema":{"type":"string"}},{"name":"recipientFullId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"}}}}}}}},"/api/messages/contacts":{"get":{"tags":["chat-message-controller"],"operationId":"getContacts","parameters":[{"name":"myId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"role","in":"query","required":true,"schema":{"type":"string","enum":["MENTOR","ADMIN","STAFF","USER"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}}},"/api/mentors/toggle/{id}":{"get":{"tags":["mentor-controller"],"operationId":"toggleActive_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/mentor-reviews/{id}":{"get":{"tags":["mentor-review-controller"],"operationId":"getMentorReviewById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorReview"}}}}}}},"/api/mentor-feedbacks/{id}":{"get":{"tags":["mentor-feedback-controller"],"operationId":"getMentorFeedbackBySessionId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MentorFeedback"}}}}}}},"/api/mentor-feedbacks/mentor/{mentorId}":{"get":{"tags":["mentor-feedback-controller"],"operationId":"getAllByMentor","parameters":[{"name":"mentorId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MentorFeedback"}}}}}}}},"/api/mails/send":{"get":{"tags":["mail-controller"],"summary":"Gửi email quản trị","description":"Gửi email từ tài khoản quản trị hệ thống đến một địa chỉ nhận nhất định (phương thức GET, ném ngoại lệ nếu lỗi).","operationId":"adminSendMail","parameters":[{"name":"toEmail","in":"query","required":true,"schema":{"type":"string"}},{"name":"subject","in":"query","required":true,"schema":{"type":"string"}},{"name":"body","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/kiosks/{kioskId}/slots":{"get":{"tags":["kiosk-controller"],"summary":"Lấy danh sách các slot trống của Kiosk","description":"Tính toán và trả về danh sách các khung giờ (slot) còn trống của trạm Kiosk được chọn trong một ngày cụ thể (bao gồm khoảng nghỉ 15 phút giữa các slot).","operationId":"getAvailableSlots","parameters":[{"name":"kioskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SlotDto"}}}}}}}},"/api/kiosks/{kioskId}/schedules":{"get":{"tags":["kiosk-controller"],"summary":"Lấy danh sách lịch hoạt động định kỳ của Kiosk","description":"Trả về danh sách các cấu hình lịch làm việc theo thứ của một Kiosk.","operationId":"getSchedulesByKiosk","parameters":[{"name":"kioskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KioskSchedule"}}}}}}}},"/api/kiosks/{kioskId}/history":{"get":{"tags":["kiosk-controller"],"summary":"Lấy lịch sử tham gia/đặt lịch của trạm Kiosk","description":"Trả về toàn bộ danh sách lịch sử đặt lịch và sử dụng phỏng vấn của trạm Kiosk chọn, bao gồm thông tin ứng viên và trạng thái đặt lịch.","operationId":"getKioskHistory","parameters":[{"name":"kioskId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KioskHistoryResponseDto"}}}}}}}},"/api/job-descriptions/{id}":{"get":{"tags":["Job Description"],"summary":"Get job description by ID","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobDescription"}}}}}}},"/api/job-descriptions/search":{"get":{"tags":["Job Description"],"summary":"Search job descriptions by keyword and status","operationId":"searchJobs","parameters":[{"name":"titleKeyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["OPEN","CLOSED","DRAFT"]}},{"name":"level","in":"query","required":false,"schema":{"type":"string","enum":["INTERN","FRESHER","JUNIOR","MIDDLE"]}},{"name":"salaryMin","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"salaryMax","in":"query","required":false,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobDescription"}}}}}}}},"/api/job-descriptions/company/{companyId}":{"get":{"tags":["Job Description"],"summary":"Get all job descriptions by company ID","operationId":"getByCompanyId","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobDescription"}}}}}}}},"/api/jd-purchases/me":{"get":{"tags":["jd-purchase-controller"],"operationId":"getMyPurchases","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MyJdPurchaseResponseDto"}}}}}}}},"/api/jd-purchases/check":{"get":{"tags":["jd-purchase-controller"],"operationId":"checkPurchased","parameters":[{"name":"jdId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/interview-sessions/{sessionId}":{"get":{"tags":["interview-session-controller"],"operationId":"getSessionById","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterviewSession"}}}}}}},"/api/interview-sessions/user/{userId}":{"get":{"tags":["interview-session-controller"],"operationId":"getAllSessionsForUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InterviewSession"}}}}}}}},"/api/interview-sessions/config-options":{"get":{"tags":["interview-session-controller"],"operationId":"getInterviewConfigOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/api/interview-sessions/cache/{sessionKey}":{"get":{"tags":["interview-session-controller"],"operationId":"getSessionFromCache","parameters":[{"name":"sessionKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterviewSessionRedis"}}}}}}},"/api/email-submissions":{"get":{"tags":["email-submission-controller"],"operationId":"getAll_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailSubmission"}}}}}}}},"/api/email-submissions/{id}":{"get":{"tags":["email-submission-controller"],"operationId":"getById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailSubmission"}}}}}}},"/api/dashboard/total-user":{"get":{"tags":["dashboard-controller"],"operationId":"getTotalUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/dashboard/total-session":{"get":{"tags":["dashboard-controller"],"operationId":"getTotalSession","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/dashboard/total-mentor":{"get":{"tags":["dashboard-controller"],"operationId":"getTotalMentor","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/dashboard/total-income":{"get":{"tags":["dashboard-controller"],"operationId":"getTotalIncome","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Payment"}}}}}}}},"/api/companies/{id}":{"get":{"tags":["company-controller"],"operationId":"getCompanyById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Company"}}}}}},"delete":{"tags":["company-controller"],"operationId":"deleteCompanyById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/coding-problems/{id}":{"get":{"tags":["coding-problem-controller"],"operationId":"getCodingProblemById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodingProblem"}}}}}}},"/api/code-review-problems/{id}":{"get":{"tags":["code-review-problem-controller"],"operationId":"getCodeReviewProblemById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodeReviewProblem"}}}}}}},"/api/candidate-profiles/{userId}":{"get":{"tags":["candidate-profile-controller"],"operationId":"getByUserId","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}}}}}},"/api/candidate-profiles/application/{applicationId}":{"get":{"tags":["candidate-profile-controller"],"summary":"Lấy thông tin candidate profile theo application ID","operationId":"getByApplicationId","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CandidateProfile"}}}}}}},"/api/auth/login-with-google":{"get":{"tags":["auth-controller"],"operationId":"googleLogin","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RedirectView"}}}}}}},"/api/applications/{id}":{"get":{"tags":["application-controller"],"operationId":"getApplicationById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Application"}}}}}}},"/api/applications/me":{"get":{"tags":["application-controller"],"operationId":"getAllApplicationsByUserId","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Application"}}}}}}}},"/api/application-details/{id}":{"get":{"tags":["application-detail-controller"],"operationId":"getApplicationDetailById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationDetail"}}}}}}},"/api/application-details/{id}/assigned-mentors":{"get":{"tags":["application-detail-controller"],"summary":"Lấy danh sách các mentor được đề xuất cho vòng này","description":"Dành cho Ứng viên xem danh sách profile các mentor do Admin đề xuất.","operationId":"getAssignedMentors","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MentorResponse"}}}}}}}},"/api/application-details/reviewer":{"get":{"tags":["application-detail-controller"],"summary":"Lấy danh sách các vòng được giao cho reviewer hiện tại (STAFF)","description":"Lấy danh sách application details của các vòng thi được gán cho staff hiện tại làm reviewer.","operationId":"getApplicationDetailsForReviewer","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/application-details/application/{applicationId}":{"get":{"tags":["application-detail-controller"],"operationId":"getApplicationDetailsByApplicationId","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/open-jds":{"get":{"tags":["Admin Management"],"summary":"Lấy danh sách các JD theo công ty (Hỗ trợ lọc theo trạng thái hoặc lấy tất cả)","description":"Trả về danh sách các Job Description kèm thông tin công ty sở hữu và thống kê lượt ứng tuyển. Nếu truyền query param `status` (VD: OPEN, CLOSED, DRAFT) thì lọc theo trạng thái đó, nếu để trống/null thì lấy tất cả các trạng thái (ALL).","operationId":"getOpenJds","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["OPEN","CLOSED","DRAFT"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminOpenJdResponseDto"}}}}}}}},"/api/admin/jds/{jdId}/applications":{"get":{"tags":["Admin Management"],"summary":"Lấy danh sách các lượt apply của một JD cụ thể","description":"Trả về danh sách các ứng viên đã ứng tuyển vào JD được chọn, thông tin ứng viên, điểm số tổng quan và vòng thi hiện tại.","operationId":"getApplicationsByJdId","parameters":[{"name":"jdId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminJdApplicationsResponseDto"}}}}}}},"/api/admin/applications/{applicationId}/detail":{"get":{"tags":["Admin Management"],"summary":"Lấy chi tiết sâu toàn diện của một đơn ứng tuyển (Application Detail)","description":"Trả về bức tranh toàn cảnh của 1 ứng viên: Hồ sơ cá nhân (Candidate Profile), CV link, JD info và kết quả từng vòng thi (điểm AI, AI feedback, điểm HR, HR note, kết quả final, submission data).","operationId":"getApplicationFullDetail","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminApplicationFullDetailResponseDto"}}}}}}},"/api/posts/likes/{postId}/{userId}":{"delete":{"tags":["post-controller"],"summary":"Unlike bài viết","description":"User unlike một bài viết","operationId":"unlikePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/kiosk-bookings/{bookingId}":{"delete":{"tags":["kiosk-booking-controller"],"summary":"Hủy/đổi lịch phỏng vấn Kiosk","description":"Hủy lịch phỏng vấn hiện tại. Chuyển trạng thái booking thành CANCELLED và reset trạng thái vòng thi ứng tuyển về PENDING để ứng viên có thể chọn lại slot mới.","operationId":"cancelBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/job-descriptions/{id}/soft":{"delete":{"tags":["Job Description"],"summary":"Soft delete a job description","operationId":"softDelete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"components":{"schemas":{"CandidateProfile":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"applicationId":{"type":"integer","format":"int64"},"targetRole":{"type":"string"},"targetLevel":{"type":"string"},"introduction":{"type":"string"},"technicalSkills":{"type":"array","items":{"type":"string"}},"softSkills":{"type":"array","items":{"type":"string"}},"tools":{"type":"array","items":{"type":"string"}},"projects":{"type":"array","items":{"$ref":"#/components/schemas/ProjectDetail"}},"workExperiences":{"type":"array","items":{"$ref":"#/components/schemas/WorkExperience"}},"educations":{"type":"array","items":{"$ref":"#/components/schemas/EducationEntry"}},"certifications":{"type":"array","items":{"type":"string"}},"achievements":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"EducationEntry":{"type":"object","properties":{"school":{"type":"string"},"major":{"type":"string"},"degree":{"type":"string"},"gpa":{"type":"string"},"start_date":{"type":"string"},"end_date":{"type":"string"}}},"ProjectDetail":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"role":{"type":"string"},"teamSize":{"type":"integer","format":"int32"},"usedTools":{"type":"array","items":{"type":"string"}},"outcome":{"type":"string"}}},"User":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"},"role":{"type":"string","enum":["MENTOR","ADMIN","STAFF","USER"]},"isActive":{"type":"boolean"},"avatarUrl":{"type":"string"},"public_id":{"type":"string"},"cvUrl":{"type":"string"},"cv_public_id":{"type":"string"},"phone":{"type":"string"},"address":{"type":"string"},"linkedInUrl":{"type":"string"},"githubUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/CandidateProfile"}}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"email":{"type":"string"},"role":{"type":"string","enum":["MENTOR","ADMIN","STAFF","USER"]},"isActive":{"type":"boolean"},"avatarUrl":{"type":"string"},"public_id":{"type":"string"},"cvUrl":{"type":"string"},"cv_public_id":{"type":"string"},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/CandidateProfile"}}}},"WorkExperience":{"type":"object","properties":{"company":{"type":"string"},"position":{"type":"string"},"description":{"type":"string"},"start_date":{"type":"string"},"end_date":{"type":"string"}}},"CodeFile":{"type":"object","properties":{"filename":{"type":"string"},"content":{"type":"string"},"language":{"type":"string"}}},"CodeReviewProblemSnapshot":{"type":"object","properties":{"problemId":{"type":"integer","format":"int64"},"title":{"type":"string"},"difficulty":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"language":{"type":"string"},"problemStatement":{"type":"string"},"files":{"type":"array","items":{"$ref":"#/components/schemas/CodeFile"}},"expectedIssues":{"type":"array","items":{"$ref":"#/components/schemas/ExpectedIssue"}}}},"CodingProblemSnapshot":{"type":"object","properties":{"problemId":{"type":"integer","format":"int64"},"title":{"type":"string"},"difficulty":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"problemStatement":{"type":"string"},"rulesAndConstraints":{"type":"array","items":{"type":"string"}},"visibleExamples":{"type":"array","items":{"$ref":"#/components/schemas/Example"}},"executionTimeLimitMs":{"type":"integer","format":"int32"},"memoryLimitMb":{"type":"integer","format":"int32"},"codeStubs":{"type":"object","additionalProperties":{"type":"string"}}}},"Example":{"type":"object","properties":{"inputs":{"type":"array","items":{"type":"string"}},"output":{"type":"string"},"explanation":{"type":"string"}}},"ExpectedIssue":{"type":"object","properties":{"filename":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"severity":{"type":"string"},"description":{"type":"string"}}},"MentorInterviewDto":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"mentorId":{"type":"integer","format":"int32"},"duration":{"type":"integer","format":"int32"},"totalPrice":{"type":"integer","format":"int32"}}},"QuizQuestion":{"type":"object","properties":{"questionText":{"type":"string"},"options":{"type":"array","items":{"type":"string"}},"correctAnswer":{"type":"string"},"points":{"type":"integer","format":"int32"}}},"RoundConfig":{"type":"object","properties":{"instruction":{"type":"string"},"submissionFormat":{"type":"string"},"timeLimitMinutes":{"type":"integer","format":"int32"},"maxScore":{"type":"integer","format":"int32"},"aiSystemPrompt":{"type":"string"},"evaluationCriteria":{"type":"string"},"quizQuestions":{"type":"array","items":{"$ref":"#/components/schemas/QuizQuestion"}},"codingProblems":{"type":"array","items":{"$ref":"#/components/schemas/CodingProblemSnapshot"}},"codeReviewProblems":{"type":"array","items":{"$ref":"#/components/schemas/CodeReviewProblemSnapshot"}},"mentorInterview":{"$ref":"#/components/schemas/MentorInterviewDto"}}},"TemplateRoundItem":{"type":"object","properties":{"name":{"type":"string","minLength":1},"roundOrder":{"type":"integer","format":"int32"},"roundType":{"type":"string","enum":["CV_SCREENING","EMAIL_SIMULATOR","QUIZ","CODING","CODE_REVIEW","MENTROR_REVIEW","AI_INTERVIEW"]},"passThreshold":{"type":"number","format":"double"},"configData":{"$ref":"#/components/schemas/RoundConfig"}},"required":["name","roundOrder","roundType"]},"UpsertTemplateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"category":{"type":"string","minLength":1},"description":{"type":"string"},"rounds":{"type":"array","items":{"$ref":"#/components/schemas/TemplateRoundItem"},"minItems":1}},"required":["category","name","rounds"]},"Session":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"roomName":{"type":"string"},"userId":{"type":"integer","format":"int32"},"participantId1":{"type":"string"},"startTime1":{"type":"string","format":"date-time"},"endTime1":{"type":"string","format":"date-time"},"durationSeconds1":{"type":"integer","format":"int64"},"userId2":{"type":"integer","format":"int32"},"participantId2":{"type":"string"},"startTime2":{"type":"string","format":"date-time"},"endTime2":{"type":"string","format":"date-time"},"durationSeconds2":{"type":"integer","format":"int64"},"roomUrl":{"type":"string"},"joinTime":{"type":"string","format":"date-time"},"recordUrl":{"type":"string"},"status":{"type":"string","enum":["DRAFT","SCHEDULED","PAID","REJECTED","ONGOING","COMPLETED","CANCELED"]},"duration":{"type":"integer","format":"int32"},"totalPrice":{"type":"integer","format":"int32"},"transactionCode":{"type":"string"},"sessionKey":{"type":"string"},"kioskId":{"type":"integer","format":"int64"}}},"QuizQuestionDto":{"type":"object","properties":{"questionText":{"type":"string","minLength":1},"options":{"type":"array","items":{"type":"string"},"minItems":1},"correctAnswer":{"type":"string","minLength":1},"points":{"type":"integer","format":"int32"}},"required":["correctAnswer","options","points","questionText"]},"RoundConfigDto":{"type":"object","properties":{"instruction":{"type":"string"},"submissionFormat":{"type":"string"},"timeLimitMinutes":{"type":"integer","format":"int32"},"maxScore":{"type":"integer","format":"int32"},"aiSystemPrompt":{"type":"string"},"evaluationCriteria":{"type":"string"},"quizQuestions":{"type":"array","items":{"$ref":"#/components/schemas/QuizQuestionDto"}},"codingProblemsId":{"type":"array","items":{"type":"integer","format":"int64"}},"codeReviewIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"RoundItemDto":{"type":"object","properties":{"name":{"type":"string","minLength":1},"roundOrder":{"type":"integer","format":"int32","minimum":1},"roundType":{"type":"string","enum":["CV_SCREENING","EMAIL_SIMULATOR","QUIZ","CODING","CODE_REVIEW","MENTROR_REVIEW","AI_INTERVIEW"]},"passThreshold":{"type":"number","format":"double","minimum":0},"reviewerId":{"type":"integer","format":"int32"},"configData":{"$ref":"#/components/schemas/RoundConfigDto"}},"required":["configData","name","passThreshold","roundOrder","roundType"]},"SetupJdRoundsRequest":{"type":"object","properties":{"rounds":{"type":"array","items":{"$ref":"#/components/schemas/RoundItemDto"},"minItems":1}},"required":["rounds"]},"Round":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"roundOrder":{"type":"integer","format":"int32"},"roundType":{"type":"string","enum":["CV_SCREENING","EMAIL_SIMULATOR","QUIZ","CODING","CODE_REVIEW","MENTROR_REVIEW","AI_INTERVIEW"]},"passThreshold":{"type":"number","format":"double"},"configData":{"$ref":"#/components/schemas/RoundConfig"},"reviewerId":{"type":"integer","format":"int32"},"isDeleted":{"type":"boolean"},"isAuto":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UpdateJdRoundRequest":{"type":"object","properties":{"rounds":{"type":"array","items":{"$ref":"#/components/schemas/RoundItemDto"},"minItems":1}},"required":["rounds"]},"QuestionCategory":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"UpdateQuestionBankRequest":{"type":"object","properties":{"questionCategoryId":{"type":"integer","format":"int32"},"questionLevel":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"questionText":{"type":"string","maxLength":2147483647,"minLength":1},"options":{"type":"array","items":{"type":"string"}},"correctAnswer":{"type":"string","maxLength":2147483647,"minLength":1},"isDeleted":{"type":"boolean"}}},"QuestionBank":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"questionCategory":{"$ref":"#/components/schemas/QuestionCategory"},"questionLevel":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"questionText":{"type":"string"},"options":{"type":"array","items":{"type":"string"}},"correctAnswer":{"type":"string"},"isDeleted":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"PostComment":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"user":{"$ref":"#/components/schemas/User"},"content":{"type":"string"},"parentCommentId":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UpdateMentorRequest":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"bio":{"type":"string"},"expertise":{"type":"string"},"yearsOfExperience":{"type":"integer","format":"int32"},"linkedInUrl":{"type":"string"},"currentCompany":{"type":"string"},"pricePerMinute":{"type":"integer","format":"int32"}}},"MentorResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"email":{"type":"string"},"bio":{"type":"string"},"avatarUrl":{"type":"string"},"expertise":{"type":"string"},"yearsOfExperience":{"type":"integer","format":"int32"},"linkedInUrl":{"type":"string"},"currentCompany":{"type":"string"},"rate":{"type":"integer","format":"int32"},"totalSession":{"type":"integer","format":"int32"},"averageRating":{"type":"number","format":"double"},"pricePerMinute":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"ChangeMentorPasswordRequest":{"type":"object","properties":{"oldPassword":{"type":"string"},"newPassword":{"type":"string"}}},"UpdateMentorReviewRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"rating":{"type":"integer","format":"int32"},"situationNote":{"type":"string"},"taskNote":{"type":"string"},"actionNote":{"type":"string"},"resultNote":{"type":"string"},"strength":{"type":"string"},"weakness":{"type":"string"},"improve":{"type":"string"}}},"Mentor":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"},"role":{"type":"string","enum":["MENTOR","ADMIN","STAFF","USER"]},"bio":{"type":"string"},"avatarUrl":{"type":"string"},"public_id":{"type":"string"},"expertise":{"type":"string"},"yearsOfExperience":{"type":"integer","format":"int32"},"linkedInUrl":{"type":"string"},"currentCompany":{"type":"string"},"totalSession":{"type":"integer","format":"int32"},"averageRating":{"type":"number","format":"double"},"pricePerMinute":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"MentorReview":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"session":{"$ref":"#/components/schemas/Session"},"mentor":{"$ref":"#/components/schemas/Mentor"},"user":{"$ref":"#/components/schemas/User"},"rating":{"type":"integer","format":"int32"},"situationNote":{"type":"string"},"taskNote":{"type":"string"},"actionNote":{"type":"string"},"resultNote":{"type":"string"},"strength":{"type":"string"},"weakness":{"type":"string"},"improve":{"type":"string"}}},"UpdateMentorFeedbackRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"MentorFeedback":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"session":{"$ref":"#/components/schemas/Session"},"mentor":{"$ref":"#/components/schemas/Mentor"},"user":{"$ref":"#/components/schemas/User"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"Kiosk":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"location":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"KioskSchedule":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kioskId":{"type":"integer","format":"int64"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"openTime":{"type":"string"},"closeTime":{"type":"string"},"slotDurationMinutes":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"UpdateJobDescriptionRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"description":{"type":"string"},"requirements":{"type":"string"},"benefits":{"type":"string"},"level":{"type":"string","enum":["INTERN","FRESHER","JUNIOR","MIDDLE"]},"salaryMin":{"type":"number","format":"double"},"salaryMax":{"type":"number","format":"double"},"currency":{"type":"string"},"status":{"type":"string","enum":["OPEN","CLOSED","DRAFT"]},"deadlineAt":{"type":"string","format":"date-time"},"price":{"type":"integer","format":"int64"}}},"JobDescription":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"description":{"type":"string"},"requirements":{"type":"string"},"benefits":{"type":"string"},"level":{"type":"string","enum":["INTERN","FRESHER","JUNIOR","MIDDLE"]},"salaryMin":{"type":"number","format":"double"},"salaryMax":{"type":"number","format":"double"},"price":{"type":"integer","format":"int64"},"rounds":{"type":"array","items":{"$ref":"#/components/schemas/Round"}},"appliedCount":{"type":"integer","format":"int32"},"currency":{"type":"string"},"status":{"type":"string","enum":["OPEN","CLOSED","DRAFT"]},"isDeleted":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"deadlineAt":{"type":"string","format":"date-time"},"companyName":{"type":"string"},"companyLogo":{"type":"string"}}},"UpdateCompanyRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}},"Company":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"logoUrl":{"type":"string"},"bannerUrl":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"isDeleted":{"type":"boolean"},"jobDescriptions":{"type":"array","items":{"$ref":"#/components/schemas/JobDescription"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"AiFeedback":{"type":"object","properties":{"generalComment":{"type":"string"},"strengths":{"type":"array","items":{"type":"string"}},"weaknesses":{"type":"array","items":{"type":"string"}},"extraMetrics":{"type":"object","additionalProperties":{}}}},"ApplicationDetail":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"applicationId":{"type":"integer","format":"int64"},"roundId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","AWAITING_MENTOR","AWAITING_CANDIDATE_SELECT_MENTOR","SLOT_PICKED","SUBMITTED","AI_EVALUATED","COMPLETED"]},"finalScore":{"type":"number","format":"double"},"submissionData":{"$ref":"#/components/schemas/SubmissionData"},"aiScore":{"type":"number","format":"double"},"aiFeedback":{"$ref":"#/components/schemas/AiFeedback"},"hrScore":{"type":"number","format":"double"},"hrNote":{"type":"string"},"finalResult":{"type":"string","enum":["PASSED","FAILED"]},"startedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"mentorReview":{"$ref":"#/components/schemas/MentorReview"},"mentorId":{"type":"integer","format":"int32"},"assignedMentorIds":{"type":"array","items":{"type":"integer","format":"int32"}},"sessionId":{"type":"integer","format":"int32"},"aiInterviewSessionId":{"type":"integer","format":"int32"},"sessionInfo":{"$ref":"#/components/schemas/RoundSessionInfo"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CodeReviewSubmission":{"type":"object","properties":{"filename":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"severity":{"type":"string"},"description":{"type":"string"}}},"CodeSubmission":{"type":"object","properties":{"sourceCode":{"type":"array","items":{"type":"string"}},"testCases":{"$ref":"#/components/schemas/CompilerResponseDto"}}},"CompilerResponseDto":{"type":"object","properties":{"status":{"type":"string"},"passedTestCases":{"type":"integer","format":"int32"},"totalTestCases":{"type":"integer","format":"int32"},"executionTimeMs":{"type":"integer","format":"int64"},"errorMessage":{"type":"string"},"testCases":{"type":"array","items":{"$ref":"#/components/schemas/TestCaseResult"}}}},"QuizAnswer":{"type":"object","properties":{"questionText":{"type":"string"},"selectedAnswer":{"type":"string"},"isCorrect":{"type":"boolean"}}},"RoundSessionInfo":{"type":"object","properties":{"sessionId":{"type":"integer","format":"int32"},"meetingType":{"type":"string","enum":["ONLINE","OFFLINE"]},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"}}},"SubmissionData":{"type":"object","properties":{"textContent":{"type":"string"},"fileUrl":{"type":"string"},"quizAnswers":{"type":"array","items":{"$ref":"#/components/schemas/QuizAnswer"}},"codeSubmissions":{"type":"array","items":{"$ref":"#/components/schemas/CodeSubmission"}},"codeReviewSubmissions":{"type":"array","items":{"$ref":"#/components/schemas/CodeReviewSubmission"}},"emailSubmissionId":{"type":"integer","format":"int64"}}},"TestCaseResult":{"type":"object","properties":{"index":{"type":"integer","format":"int32"},"status":{"type":"string"},"input":{"type":"string"},"expectedOutput":{"type":"string"},"actualOutput":{"type":"string"},"executionTimeMs":{"type":"integer","format":"int64"},"errorMessage":{"type":"string"}}},"AssignMentorsRequestDto":{"type":"object","properties":{"mentorIds":{"type":"array","items":{"type":"integer","format":"int32"}}}},"FaceSnapshotRequest":{"type":"object","properties":{"sessionKey":{"type":"string"},"globalQuestionOrder":{"type":"integer","format":"int32"},"imageBase64":{"type":"string"}}},"SubmitAnswerRequest":{"type":"object","properties":{"sessionKey":{"type":"string"},"answer":{"type":"string"}}},"QuestionResponse":{"type":"object","properties":{"sessionKey":{"type":"string"},"phaseName":{"type":"string"},"currentQuestionIndex":{"type":"integer","format":"int32"},"totalQuestionsInPhase":{"type":"integer","format":"int32"},"questionContent":{"type":"string"},"questionType":{"type":"string"},"finished":{"type":"boolean"}}},"UserInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"},"role":{"type":"string","enum":["MENTOR","ADMIN","STAFF","USER"]},"phone":{"type":"string"},"address":{"type":"string"},"linkedInUrl":{"type":"string"},"githubUrl":{"type":"string"}},"required":["email"]},"CVParserResponse":{"type":"object","properties":{"targetRole":{"type":"string"},"targetLevel":{"type":"string"},"introduction":{"type":"string"},"technicalSkills":{"type":"array","items":{"type":"string"}},"softSkills":{"type":"array","items":{"type":"string"}},"tools":{"type":"array","items":{"type":"string"}},"certifications":{"type":"array","items":{"type":"string"}},"achievements":{"type":"array","items":{"type":"string"}},"educations":{"type":"array","items":{"$ref":"#/components/schemas/EducationDTO"}},"workExperiences":{"type":"array","items":{"$ref":"#/components/schemas/WorkExperienceDTO"}},"projects":{"type":"array","items":{"$ref":"#/components/schemas/ProjectDTO"}}}},"EducationDTO":{"type":"object","properties":{"school":{"type":"string"},"major":{"type":"string"},"degree":{"type":"string"},"gpa":{"type":"string"},"start_date":{"type":"string"},"end_date":{"type":"string"}}},"ProjectDTO":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"role":{"type":"string"},"teamSize":{"type":"integer","format":"int32"},"usedTools":{"type":"array","items":{"type":"string"}},"outcome":{"type":"string"}}},"WorkExperienceDTO":{"type":"object","properties":{"company":{"type":"string"},"position":{"type":"string"},"description":{"type":"string"},"start_date":{"type":"string"},"end_date":{"type":"string"}}},"EvaluationCriteria":{"type":"object","properties":{"maxScore":{"type":"integer","format":"int32"},"aiSystemPrompt":{"type":"string"},"extraMetrics":{"type":"array","items":{"type":"string"}}}},"JD":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"requirements":{"type":"string"},"level":{"type":"string"}}},"CvEvaluationResponse":{"type":"object","properties":{"score":{"type":"number","format":"double"},"extraMetrics":{"type":"object","additionalProperties":{}}}},"JoinSessionDtoRequest":{"type":"object","properties":{"sessionName":{"type":"string"},"userId":{"type":"integer","format":"int32"},"participantId":{"type":"string"},"mentor":{"type":"boolean"}}},"DailyCoCreationRequest":{"type":"object","properties":{"name":{"type":"string"},"privacy":{"type":"string"},"properties":{"$ref":"#/components/schemas/Properties"}}},"Properties":{"type":"object","properties":{"max_participants":{"type":"integer","format":"int32"},"start_video_off":{"type":"boolean"},"start_audio_off":{"type":"boolean"},"enable_screenshare":{"type":"boolean"},"exp":{"type":"integer","format":"int32"},"enable_recording":{"type":"string"}}},"SessionCreationRequest":{"type":"object","properties":{"dailyCoCreationRequest":{"$ref":"#/components/schemas/DailyCoCreationRequest"},"userId":{"type":"integer","format":"int32"},"mentorId":{"type":"integer","format":"int32"},"joinTime":{"type":"string","format":"date-time"},"duration":{"type":"integer","format":"int32"},"totalPrice":{"type":"integer","format":"int32"}}},"RoomConfig":{"type":"object","properties":{"nbf":{"type":"string"},"exp":{"type":"integer","format":"int64"}}},"SessionResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"api_created":{},"created_at":{"type":"string"},"config":{"$ref":"#/components/schemas/RoomConfig"}}},"CreateRoundSessionRequest":{"type":"object","properties":{"applicationDetailId":{"type":"integer","format":"int64"},"joinTime":{"type":"string","format":"date-time"},"duration":{"type":"integer","format":"int32"},"offline":{"type":"boolean"}}},"MentorFeedbackResponse":{"type":"object","properties":{"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"MentorReviewResponse":{"type":"object","properties":{"rating":{"type":"integer","format":"int32"},"situationNote":{"type":"string"},"taskNote":{"type":"string"},"actionNote":{"type":"string"},"resultNote":{"type":"string"},"strength":{"type":"string"},"weakness":{"type":"string"},"improve":{"type":"string"}}},"SessionDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"roomName":{"type":"string"},"userId":{"type":"integer","format":"int32"},"participantId1":{"type":"string"},"startTime1":{"type":"string","format":"date-time"},"endTime1":{"type":"string","format":"date-time"},"durationSeconds1":{"type":"integer","format":"int64"},"mentorId":{"type":"integer","format":"int32"},"participantId2":{"type":"string"},"startTime2":{"type":"string","format":"date-time"},"endTime2":{"type":"string","format":"date-time"},"durationSeconds2":{"type":"integer","format":"int64"},"roomUrl":{"type":"string"},"joinTime":{"type":"string","format":"date-time"},"recordUrl":{"type":"string"},"status":{"type":"string","enum":["DRAFT","SCHEDULED","PAID","REJECTED","ONGOING","COMPLETED","CANCELED"]},"duration":{"type":"integer","format":"int32"},"totalPrice":{"type":"integer","format":"int32"},"transactionCode":{"type":"string"},"sessionKey":{"type":"string"},"kioskId":{"type":"integer","format":"int64"},"mentorReview":{"$ref":"#/components/schemas/MentorReviewResponse"},"mentorFeedback":{"$ref":"#/components/schemas/MentorFeedbackResponse"}}},"WhiteboardQuestionDto":{"type":"object","properties":{"title":{"type":"string"},"difficulty":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"problem_statement":{"type":"string"},"rules_and_constraints":{"type":"array","items":{"type":"string"}},"examples":{"type":"array","items":{"$ref":"#/components/schemas/Example"}},"suggested_grading_rubric":{"type":"string"}}},"CreateQuestionBankRequest":{"type":"object","properties":{"questionCategoryId":{"type":"integer","format":"int32"},"questionLevel":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"questionText":{"type":"string","minLength":1},"options":{"type":"array","items":{"type":"string"}},"correctAnswer":{"type":"string","minLength":1}},"required":["correctAnswer","options","questionCategoryId","questionLevel","questionText"]},"QuestionGenerateRequest":{"type":"object","properties":{"categoryName":{"type":"string"},"difficulty":{"type":"string"},"topics":{"type":"array","items":{"type":"string"}},"additionalPrompt":{"type":"string"}}},"QuestionGenerateResponse":{"type":"object","properties":{"questionText":{"type":"string"},"options":{"type":"array","items":{"type":"string"}},"correctAnswer":{"type":"string"}}},"PostCreateRequest":{"type":"object","description":"Post create request","properties":{"title":{"type":"string"},"content":{"type":"string"},"summary":{"type":"string"},"authorId":{"type":"integer","format":"int32"},"coverImg":{"type":"string","format":"binary"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string","enum":["DRAFT","PUBLISHED","ARCHIVED"],"example":"PUBLISHED || DRAFT || ARCHIVED"}}},"Post":{"type":"object","properties":{"postId":{"type":"integer","format":"int32"},"title":{"type":"string"},"content":{"type":"string"},"summary":{"type":"string"},"status":{"type":"string","enum":["DRAFT","PUBLISHED","ARCHIVED"]},"author":{"$ref":"#/components/schemas/User"},"creationDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"coverImgUrl":{"type":"string"},"public_id":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"likes":{"type":"array","items":{"$ref":"#/components/schemas/PostLike"}},"comments":{"type":"array","items":{"$ref":"#/components/schemas/PostComment"}}}},"PostLike":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"user":{"$ref":"#/components/schemas/User"},"createdAt":{"type":"string","format":"date-time"}}},"PostLikeRequest":{"type":"object","properties":{"postId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"}}},"PostCommentRequest":{"type":"object","properties":{"postId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"content":{"type":"string"},"parentCommentId":{"type":"integer","format":"int32"}}},"Webhook":{"type":"object","properties":{"code":{"type":"string"},"desc":{"type":"string"},"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/WebhookData"},"signature":{"type":"string"}}},"WebhookData":{"type":"object","properties":{"orderCode":{"type":"integer","format":"int64"},"amount":{"type":"integer","format":"int64"},"description":{"type":"string"},"accountNumber":{"type":"string"},"reference":{"type":"string"},"transactionDateTime":{"type":"string"},"currency":{"type":"string"},"paymentLinkId":{"type":"string"},"code":{"type":"string"},"desc":{"type":"string"},"counterAccountBankId":{"type":"string"},"counterAccountBankName":{"type":"string"},"counterAccountName":{"type":"string"},"counterAccountNumber":{"type":"string"},"virtualAccountName":{"type":"string"},"virtualAccountNumber":{"type":"string"}}},"Notification":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"user":{"$ref":"#/components/schemas/User"},"title":{"type":"string"},"message":{"type":"string"},"isRead":{"type":"boolean"},"createAt":{"type":"string","format":"date-time"}}},"CreateMentorRequest":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"},"bio":{"type":"string"},"expertise":{"type":"string"},"yearsOfExperience":{"type":"integer","format":"int32"},"linkedInUrl":{"type":"string"},"currentCompany":{"type":"string"},"pricePerMinute":{"type":"integer","format":"int32"}}},"CreateMentorReviewRequest":{"type":"object","properties":{"sessionId":{"type":"integer","format":"int32"},"mentorId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"rating":{"type":"integer","format":"int32"},"situationNote":{"type":"string"},"taskNote":{"type":"string"},"actionNote":{"type":"string"},"resultNote":{"type":"string"},"strength":{"type":"string"},"weakness":{"type":"string"},"improve":{"type":"string"}}},"CreateMentorFeedbackRequest":{"type":"object","properties":{"sessionId":{"type":"integer","format":"int32"},"mentorId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"GenericEmailRequest":{"type":"object","properties":{"toEmail":{"type":"string"},"subject":{"type":"string"},"body":{"type":"string"}}},"KioskEnterDtoRequest":{"type":"object","properties":{"sessionKey":{"type":"string"},"kioskId":{"type":"integer","format":"int64"}}},"KioskEnterDtoResponse":{"type":"object","properties":{"type":{"type":"string"},"roomUrl":{"type":"string"},"aiSessionKey":{"type":"string"}}},"PickSlotDtoRequest":{"type":"object","properties":{"applicationDetailId":{"type":"integer","format":"int64"},"kioskId":{"type":"integer","format":"int64"},"scheduledStart":{"type":"string","format":"date-time"},"scheduledEnd":{"type":"string","format":"date-time"}}},"KioskBooking":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"applicationDetailId":{"type":"integer","format":"int64"},"kioskId":{"type":"integer","format":"int64"},"applicantUserId":{"type":"integer","format":"int32"},"scheduledStart":{"type":"string","format":"date-time"},"scheduledEnd":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["AWAITING_MENTOR","MENTOR_ASSIGNED","ROOM_CREATED","IN_PROGRESS","COMPLETED","CANCELLED"]},"sessionKey":{"type":"string"},"notes":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CreateJobDescriptionRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"requirements":{"type":"string"},"benefits":{"type":"string"},"level":{"type":"string","enum":["INTERN","FRESHER","JUNIOR","MIDDLE"]},"salaryMin":{"type":"number","format":"double"},"salaryMax":{"type":"number","format":"double"},"currency":{"type":"string"},"status":{"type":"string","enum":["OPEN","CLOSED","DRAFT"]},"deadlineAt":{"type":"string","format":"date-time"},"companyId":{"type":"integer","format":"int64"},"price":{"type":"integer","format":"int64"}}},"BasicInfo":{"type":"object","properties":{"job_title":{"type":"string"},"industry_domain":{"type":"string"},"seniority_level":{"type":"string"}}},"Competencies":{"type":"object","properties":{"hard_skills":{"type":"array","items":{"type":"string"}},"tools_and_platforms":{"type":"array","items":{"type":"string"}},"soft_skills":{"type":"array","items":{"type":"string"}}}},"JobRequirementData":{"type":"object","properties":{"basic_info":{"$ref":"#/components/schemas/BasicInfo"},"competencies":{"$ref":"#/components/schemas/Competencies"},"responsibilities":{"type":"array","items":{"type":"string"}}}},"InterviewSetupRequest":{"type":"object","properties":{"user_id":{"type":"integer","format":"int32"},"application_detail_id":{"type":"integer","format":"int64"},"candidate_profile":{"$ref":"#/components/schemas/CandidateProfile"},"job_requirement":{"$ref":"#/components/schemas/JobRequirementData"},"session_config":{"$ref":"#/components/schemas/SessionConfigData"}}},"SessionConfigData":{"type":"object","properties":{"duration_minutes":{"type":"integer","format":"int32"},"interview_mode":{"type":"string","enum":["STANDARD_MOCK","THEORY_CHECK","PROJECT_DEFENSE"]},"difficulty":{"type":"string","enum":["FRESHER_BASIC","FRESHER_ADVANCED"]},"language":{"type":"string","enum":["VI","EN"]},"domain":{"type":"string","enum":["IT","NON_IT"]}}},"FaceAnalysisResponse":{"type":"object","properties":{"status":{"type":"string","enum":["TURNING_LEFT","TURNING_RIGHT","BOWING_HEAD","LOOKING_UP_HEAD","TOO_CLOSE","TOO_FAR","GLANCING_LEFT","GLANCING_RIGHT","LOOKING_UP_EYES","LOOKING_DOWN_EYES","NORMAL","UNKNOWN"]},"warning":{"type":"boolean"}}},"CreateCompanyRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}},"CodingProblem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"difficulty":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"problemStatement":{"type":"string"},"rulesAndConstraints":{"type":"array","items":{"type":"string"}},"paramTypes":{"type":"array","items":{"type":"string"}},"returnType":{"type":"string"},"visibleExamples":{"type":"array","items":{"$ref":"#/components/schemas/Example"}},"executionTimeLimitMs":{"type":"integer","format":"int32"},"memoryLimitMb":{"type":"integer","format":"int32"},"codeStubs":{"type":"object","additionalProperties":{"type":"string"}},"hiddenTestCases":{"type":"array","items":{"$ref":"#/components/schemas/TestCase"}},"isDeleted":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"TestCase":{"type":"object","properties":{"inputs":{"type":"array","items":{"type":"string"}},"expectedOutput":{"type":"string"},"weightPoints":{"type":"integer","format":"int32"}}},"CodingProblemGenerateRequest":{"type":"object","properties":{"topic":{"type":"string"},"difficulty":{"type":"string"},"targetLevel":{"type":"string"},"context":{"$ref":"#/components/schemas/Context"}}},"Context":{"type":"object","properties":{"jobTitle":{"type":"string"},"requirement":{"type":"string"},"prompting":{"type":"string"}}},"CodingProblemGenerateResponse":{"type":"object","properties":{"title":{"type":"string"},"difficulty":{"type":"string"},"problemStatement":{"type":"string"},"rulesAndConstraints":{"type":"array","items":{"type":"string"}},"visibleExamples":{"type":"array","items":{"$ref":"#/components/schemas/Example"}},"executionTimeLimitMs":{"type":"integer","format":"int32"},"memoryLimitMb":{"type":"integer","format":"int32"},"codeStubs":{"type":"object","additionalProperties":{"type":"string"}},"hiddenTestCases":{"type":"array","items":{"$ref":"#/components/schemas/TestCase"}},"paramTypes":{"type":"array","items":{"type":"string"}},"returnType":{"type":"string"}}},"CodeReviewProblem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"difficulty":{"type":"string","enum":["EASY","MEDIUM","HARD"]},"l
[...]
